<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
      <!-- Footer -->
    
      <nav class="navbar bg-body-tertiary" data-th-fragment="contact">
  <div class="container-fluid">
      <p><img src="https://cdn-icons-png.flaticon.com/512/854/854980.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
      Ítalo Palanca Nº 10</p>
      <p><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTDivT8s1PCA01FL1fpoOCtSjsPDhKl4hAcbut0XuRaB0UbghiHFPrIUx_Dh2ubtrVFYO8&usqp=CAU" alt="Logo" width="20" height="18" class="d-inline-block align-text-top"> San Salvador de Jujuy
      -Jujuy - Argentina</p>
    <a class="navbar-brand" href="mailto:info@fi.unju.edu.ar">
      <img src="https://cdn-icons-png.flaticon.com/512/646/646094.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
      info@fi.unju.edu.ar
    </a>  
  </div>
</nav>
<nav class="navbar bg-body-tertiary" data-th-fragment="redes">
  <div class="container-fluid">
    <a class="navbar-brand" href="https://www.facebook.com/fiunju/">
      <img src="https://www.facebook.com/images/fb_icon_325x325.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
      Facebook
    </a>
    <a class="navbar-brand" href="https://www.youtube.com/channel/UCgS9XJlKKSYI1oJ4lIOo77A">
      <img src="https://upload.wikimedia.org/wikipedia/commons/e/ef/Youtube_logo.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
      YouTube
    </a> 
     <a class="navbar-brand" href="https://www.linkedin.com/school/facultad-de-ingenieria-unju">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/81/LinkedIn_icon.svg/2048px-LinkedIn_icon.svg.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
      Linkedin
    </a> 
     <a class="navbar-brand" href="https://www.instagram.com/fiunju/">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/95/Instagram_logo_2022.svg/1000px-Instagram_logo_2022.svg.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
      Instagram
    </a> 
  </div>
</nav>


</body>
</html>