<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
      <!-- Header -->
      <nav class="navbar navbar-expand-lg bg-body-tertiary" data-th-fragment="navbar">
          <div class="container-fluid">
          <a class="navbar-brand" href="/principal/home">
          <img alt="Logo" src="https://fi.unju.edu.ar/images/LOGOS-FI-UNJU/logo-fi-unju-gran-formato-vertical-3000x2746.jpg" height="50" width="50"> FACULTAD DE INGENIERIA</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav">
                    <a class="nav-link active" aria-current="page" href="/principal/home">Inicio</a>
                    <a class="nav-link" href="#">Carreras</a>
                    <a class="nav-link" href="#">Noticias</a>
                    <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Formularios
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/formAlumno">Formulario Alumno </a></li>
            <li><a class="dropdown-item" href="/formDocente">Formulario Docente</a></li>
            <li><a class="dropdown-item" href="/formCarrera">Formulario Carrera</a></li>
            <li><a class="dropdown-item" href="/formMateria">Formulario Materia</a></li>
          </ul>
        </li>
           
                    <a class="nav-link" href="#">Contacto</a>
                    <a class="nav-link" href="#">Acerca de</a>
        
              </div>
          </div>
        </div>
      </nav>

</body>
</html>