<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

<!-- Header -->
       <nav class="navbar navbar-expand-lg bg-body-tertiary" data-th-fragment="navbar">
  <div class="container-fluid">
    <a class="navbar-brand" href="/principal/home">
      <img alt="Logo" src="https://fi.unju.edu.ar/images/LOGOS-FI-UNJU/logo-fi-unju-gran-formato-vertical-3000x2746.jpg" height="50" width="50"> FACULTAD DE INGENIERIA</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="/principal/home">Inicio</a>
        <a class="nav-link" href="#">Carreras</a>
        <a class="nav-link" href="#">Noticias</a>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Formularios
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/formAlumno">Formulario Alumno </a></li>
            <li><a class="dropdown-item" href="/formDocente">Formulario Docente</a></li>
            <li><a class="dropdown-item" href="/formCarrera">Formulario Carrera</a></li>
            <li><a class="dropdown-item" href="/formMateria">Formulario Materia</a></li>
          </ul>
        </li>
        <a class="nav-link" href="#">Contacto</a>
        <a class="nav-link" href="#">Acerca de</a>
        
      </div>
    </div>
  </div>
</nav>

<!--Aside-->
<nav class="navbar bg-body-tertiary" data-th-fragment="columna">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="https://fi.unju.edu.ar/images/biblioteca-fiunju/Biblioteca-FI.jpg" alt="Logo" width="50" height="50" class="d-inline-block align-text-top">
      Biblioteca
    </a>
     <a class="navbar-brand" href="#">
      <img src="https://store-images.microsoft.com/image/apps.61731.9007199266367162.925c6823-23fc-4133-a26b-f82214d5e866.e9c88943-c4a6-44f8-b3a9-90c2d47bc612" alt="Logo" width="50" height="50" class="d-inline-block align-text-top">
      Calendario Academico
    </a>
     <a class="navbar-brand" href="https://alumnos.unju.edu.ar/unju/">
      <img src="https://play-lh.googleusercontent.com/7zkDkeSlDXBbcdXdMvhe9SVyj8NBPOW2TG_M4pHU40gK065-gboZK14mBp9yo7BMf2Y" alt="Logo" width="50" height="50" class="d-inline-block align-text-top">
      SIU Guarani
    </a>
  </div>
</nav>


<!-- Section -->
<div class="accordion accordion-flush" id="accordionFlushExample" data-th-fragment="section">
  <img alt="portada" src="https://fi.unju.edu.ar/images/2022-Noticias/Logo-FCEyT-UNse.png" width="830" height="200">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
        CONCURSO DOCENTE - Facultad de Ciencias Exactas y Tecnologías de la UNSE
      </button>
    </h2>
    <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
      <p>La Facultad de Ciencias Exactas y Tecnologías de la Universidad Nacional de Santiago del Estero, convoca a inscripción de postulantes para Concurso Público de Títulos, Antecedentes, Entrevista y Oposición, modalidad abierto, bajo la forma operativa presencial, para: </p>
      <p>1 (un) cargo  regular de Jefe de Trabajos Prácticos, Dedicación Semi Exclusiva, para la asignatura “ANALISIS MATEMATICO III” de las carreras de Ingeniería y Profesorado en Física, con afectación a las asignaturas  Investigación Operativa de las carreras Licenciatura en Sistemas de Información e Ingeniería Industrial, y en las asignaturas 
Modelos Matemáticos I y Modelos Matemáticos II para la carrera Licenciatura en Matemática (Ciclo de complementación), pertenecientes al Departamento Académico  de Matemática de la Facultad de Ciencias Exactas y Tecnologías.</p>

Las inscripciones se recibirán días hábiles desde el 18 de Junio  al 05 de julio  de 2024, en el horario de 08:00 a 13:00 hs, en el Área de Concursos, Permanencia y Promoción Docente de la Facultad de Ciencias Exactas y Tecnologías, cita en Av. Belgrano (S) Nº 1912.

Por mayor información dirigirse al mail: concursos.fceyt@gmail.com o a la sede de la Facultad de Ciencias Exactas y Tecnologías, cita en Av Belgrano (S) 1912</div>
    </div>
  </div>
  <br>
  <img alt="portada" src="https://fi.unju.edu.ar/images/2024-Noticias/semana-ingenieria-2024.jpg" width="830" height="200">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
        Semana de la Ingeniería 2024 - Centro Argentino de Ingenieros
      </button>
    </h2>
    <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body"><p>Llega la Semana de la Ingeniería: El desafío de alimentar al mundo</p>
<p>Será el 11, 12 y 13 de junio, y el tema de este año será la industria de alimentos y bebidas, bajo el lema "Argentina: de granero del mundo a las góndolas internacionales". 
Se llevará a cabo de forma presencial y vía streaming. La inscripción ya se encuentra abierta.</p>

<p>El 11, 12 y 13 de junio, el Centro Argentino de Ingenieros llevará adelante la Semana de la Ingeniería, que se realiza ininterrumpidamente desde 1937, y este año tendrá como foco la industria de Alimentos. 
Javier Goñi, gerente general de Ledesma, presidirá el evento del que participarán varios referentes de la industria, entre ellos, la Coordinadora de las Industrias de Productos Alimenticios (COPAL) y empresas como Arcor, Nestlé, Mondelez, Quilmes y Danone, entre otras.</p>

<p>A lo largo de los tres días, y desde distintos paneles, se abordarán los desafíos y las oportunidades de una industria pujante, que pasó de ser una exportadora de commodities a sumar valor agregado para instalarse en las góndolas de distintos países del mundo. 
El evento contará con la presencia del secretario de Bioeconomía, Fernando Vilella, y el secretario de Relaciones Económicas Internacionales, Marcelo Cima. Además, tendrá como moderadoras a las periodistas Carolina Amoroso y Florencia Donovan; y Carla Martín Bonito, flamante presidente de la COPAL, participará como disertante.</p>

El evento es gratuito y se realizará en formato presencial, pero también vía streaming. Para más información e inscripciones, se puede ingresar al siguiente link: https://cai.org.ar/si2024/ .</div>
    </div>
  </div>
  <br>
  <img alt="portada" src="https://fi.unju.edu.ar/images/2024-Noticias/premios-preingenieria.jpg" width="830" height="200">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
        PREMIO PRE INGENIERIA DEL CAI 2024
      </button>
    </h2>
    <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
      <p>El Centro Argentino de Ingenieros renueva otro año más su compromiso con la ingeniería y su importancia en la construcción del futuro de nuestro país. Con ese objetivo, pone en marcha el XXIV 
      Concurso anual destinado a premiar los mejores trabajos de investigación y desarrollo producidos por alumnos del último año o recién recibidos , de las carreras universitarias de ingeniería en sus múltiples campos.</p>

<p>Se cumplen 24 años continuos durante los cuales han sido galardonados, con los primeros lugares y distinguidos con menciones más de 225 estudiantes de más de 30 universidades a lo largo y a lo ancho del país. 
La variedad y calidad de los trabajos recibidos y luego premiados, es otro aliciente más para ratificar y reforzar la continuidad de este premio organizado e implementado por el CAI.</p>

<p>El proceso de evaluación y premiación de los trabajos recibidos, exige la participación de numerosos profesionales acreditados en las diversas temáticas, haciendo de este evento anual, un importante hito de la profesión.</p>

<p>La fecha límite de recepción de trabajos es el viernes 30 de agosto de 2024.</p>

Datos del Premio en https://cai.org.ar/premiopreingenieria2024/</div>
    </div>
  </div>
</div>
  
<!-- Footer -->
<nav class="navbar bg-body-tertiary" data-th-fragment="contact">
  <div class="container-fluid">
      <p><img src="https://cdn-icons-png.flaticon.com/512/854/854980.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
      Ítalo Palanca Nº 10</p>
      <p><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTDivT8s1PCA01FL1fpoOCtSjsPDhKl4hAcbut0XuRaB0UbghiHFPrIUx_Dh2ubtrVFYO8&usqp=CAU" alt="Logo" width="20" height="18" class="d-inline-block align-text-top"> San Salvador de Jujuy
      -Jujuy - Argentina</p>
    <a class="navbar-brand" href="mailto:info@fi.unju.edu.ar">
      <img src="https://cdn-icons-png.flaticon.com/512/646/646094.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
      info@fi.unju.edu.ar
    </a>  
  </div>
</nav>
<nav class="navbar bg-body-tertiary" data-th-fragment="redes">
  <div class="container-fluid">
    <a class="navbar-brand" href="https://www.facebook.com/fiunju/">
      <img src="https://www.facebook.com/images/fb_icon_325x325.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
      Facebook
    </a>
    <a class="navbar-brand" href="https://www.youtube.com/channel/UCgS9XJlKKSYI1oJ4lIOo77A">
      <img src="https://upload.wikimedia.org/wikipedia/commons/e/ef/Youtube_logo.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
      YouTube
    </a> 
     <a class="navbar-brand" href="https://www.linkedin.com/school/facultad-de-ingenieria-unju">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/81/LinkedIn_icon.svg/2048px-LinkedIn_icon.svg.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
      Linkedin
    </a> 
     <a class="navbar-brand" href="https://www.instagram.com/fiunju/">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/95/Instagram_logo_2022.svg/1000px-Instagram_logo_2022.svg.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
      Instagram
    </a> 
  </div>
</nav>
      
   
</body>
</html>