<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet"
	data-th-href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}">
<title>Formulario Materias</title>
</head>
<body>
	<div class="container">
		<h1>FORMULARIO Materia</h1>
		<form data-th-object="${nuevaMateria}" data-th-action="${band}?@{/modificarMateria}:@{/guardarMateria}"
				method="post">
			<div class="col-md-4">
				<label for="codigo" class="form-label">Codigo</label> <input
					type="text" class="form-control" id="codigo" data-th-field="*{codigo}" data-th-readonly=${band}>
			</div>
			<div class="col-md-4">
				<label for="nombre" class="form-label">Nombre de la Materia</label> <input
					type="text" class="form-control" id="nombre" data-th-field="*{nombre}">
			</div>
			<div class="col-md-4">
				<label for="curso" class="form-label">Curso</label> 
				<input
					type="number" class="form-control" id="curso" data-th-field="*{curso}">
			</div>
			<div class="col-md-4">
				<label for="cantidad" class="form-label">Cantidad de Horas</label> 
				<input
					type="number" class="form-control" id="cantidad" data-th-field="*{cantidadHoras}">
			</div>
			<div class="col-md-4">
				<label for="modalidad" class="form-label">Modalidad</label> 
				<select class="form-control" id="modalidad" data-th-field="*{modalidad}">
				<option value="">Seleccionar Modalidad</option>
                    <option value="Presencial">Presencial</option>
                    <option value="Virtual">Virtual</option>
                    <option value="Híbrido">Mixto</option>
				</select>
			</div>
			<div class="col-md-4">
				<label for="docente" class="form-label">Docente</label> 
				<select class="form-control" id="docente" data-th-field="*{docente.legajo}">
				<option value="">Seleccionar Docente</option>
				<option  data-th-each="d : ${docentes}" data-th-value="${d.legajo}" data-th-text="${d.apellido}"></option>
				</select>
			</div>
			<div class="col-md-4">
				<label for="carrera" class="form-label">Carrera</label> 
				<select class="form-control" id="carrera" data-th-field="*{carrera.codigo}">
				<option value="">Seleccionar Carrera</option>
				<option  data-th-each="c : ${carreras}" data-th-value="${c.codigo}" data-th-text="${c.nombre}"></option>
				</select>
			</div>

			<button type="submit" class="btn btn-primary">Guardar</button>
		</form>
	</div>
	<script
		data-th-src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}"></script>
</body>
</html>