<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	data-th-href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}">
<title>Listado Materias</title>
</head>
<body>
<div class="container">
	<table class="table table-striped">
		<thead>
			<tr>
				<th scope="col">Codigo</th>
				<th scope="col">Nombre</th>
				<th scope="col">Curso</th>
				<th scope="col">Cantidad de Horas</th>
				<th scope="col">Modalidad</th>
				<th scope="col">Docente</th>
				<th scope="col">Carrera</th>
			</tr>
		</thead>
		<tbody>
			<tr data-th-each="materia : ${listadoMaterias}">
				<td data-th-text="${materia.codigo}"></td>
	            <td data-th-text="${materia.nombre}"></td>
	            <td data-th-text="${materia.curso}"></td>
	            <td data-th-text="${materia.cantidadHoras}"></td>
	            <td data-th-text="${materia.modalidad}"></td>
	            <td data-th-text="${materia.docente.apellido}"></td>
	            <td data-th-text="${materia.carrera.nombre}"></td>
	            <td>
				<a data-th-href="@{'/borrarMateria/'+${materia.Codigo}}" class="btn btn-danger">Borrar</a>					
				<a data-th-href="@{'/modificarMateria/'+${materia.Codigo}}" class="btn btn-warning" >Modificar</a>
			</td>
			</tr>
		</tbody>
	</table>
</div>

	<script
		data-th-src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}"></script>
</body>
</html>